/* Content */
/* Weather Display */
html {
	background-color: #f6f6f6;
	height: 100%;
}
.forecast-row{
	background-color: #f6f6f6;
	border-bottom: solid 1px #eee;
}
.image-overlay {
	position: relative; 
	width: 100%;
}
.image-text-overlay {
	position: absolute; 
	top: 50%; 
	left: 0; 
}
.image-text-overlay span {
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px
}
/* Fonts */
@font-face {
font-family: "Roboto";
src: local(Roboto Thin), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.ttf") format("truetype");
font-weight: 200;
}

@font-face {
font-family: "Roboto";
src: local(Roboto Light), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.ttf") format("truetype");
font-weight: 300;
}

@font-face {
font-family: "Roboto";
src: local(Roboto Regular), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.ttf") format("truetype");
font-weight: 400;
}

@font-face {
font-family: "Roboto";
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.ttf") format("truetype");
font-weight: 500;
}

@font-face {
font-family: "Roboto";
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot");
src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.ttf") format("truetype");
font-weight: 700;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weatherDiv {
  width: 350px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weatherDiv i {
  margin: 0;
  color: #000;
  font-family: weather;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.0;
}

#weatherDiv i.icon-0:before { content: ":"; }
#weatherDiv i.icon-1:before { content: "p"; }
#weatherDiv i.icon-2:before { content: "S"; }
#weatherDiv i.icon-3:before { content: "Q"; }
#weatherDiv i.icon-4:before { content: "S"; }
#weatherDiv i.icon-5:before { content: "W"; }
#weatherDiv i.icon-6:before { content: "W"; }
#weatherDiv i.icon-7:before { content: "W"; }
#weatherDiv i.icon-8:before { content: "W"; }
#weatherDiv i.icon-9:before { content: "I"; }
#weatherDiv i.icon-10:before { content: "W"; }
#weatherDiv i.icon-11:before { content: "I"; }
#weatherDiv i.icon-12:before { content: "I"; }
#weatherDiv i.icon-13:before { content: "I"; }
#weatherDiv i.icon-14:before { content: "I"; }
#weatherDiv i.icon-15:before { content: "W"; }
#weatherDiv i.icon-16:before { content: "I"; }
#weatherDiv i.icon-17:before { content: "W"; }
#weatherDiv i.icon-18:before { content: "U"; }
#weatherDiv i.icon-19:before { content: "Z"; }
#weatherDiv i.icon-20:before { content: "Z"; }
#weatherDiv i.icon-21:before { content: "Z"; }
#weatherDiv i.icon-22:before { content: "Z"; }
#weatherDiv i.icon-23:before { content: "Z"; }
#weatherDiv i.icon-24:before { content: "E"; }
#weatherDiv i.icon-25:before { content: "E"; }
#weatherDiv i.icon-26:before { content: "3"; }
#weatherDiv i.icon-27:before { content: "a"; }
#weatherDiv i.icon-28:before { content: "A"; }
#weatherDiv i.icon-29:before { content: "a"; }
#weatherDiv i.icon-30:before { content: "A"; }
#weatherDiv i.icon-31:before { content: "6"; }
#weatherDiv i.icon-32:before { content: "1"; }
#weatherDiv i.icon-33:before { content: "6"; }
#weatherDiv i.icon-34:before { content: "1"; }
#weatherDiv i.icon-35:before { content: "W"; }
#weatherDiv i.icon-36:before { content: "1"; }
#weatherDiv i.icon-37:before { content: "S"; }
#weatherDiv i.icon-38:before { content: "S"; }
#weatherDiv i.icon-39:before { content: "S"; }
#weatherDiv i.icon-40:before { content: "M"; }
#weatherDiv i.icon-41:before { content: "W"; }
#weatherDiv i.icon-42:before { content: "I"; }
#weatherDiv i.icon-43:before { content: "W"; }
#weatherDiv i.icon-44:before { content: "a"; }
#weatherDiv i.icon-45:before { content: "S"; }
#weatherDiv i.icon-46:before { content: "U"; }
#weatherDiv i.icon-47:before { content: "S"; }